body{
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
    color: rgba(172, 172, 172, 0.92);
}
.body__wrap{
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.size{
    max-width: 1024px;
    margin: 0 auto;
    height: inherit;
}
header{
    height: 490px;
}
.header__bg{
    min-height: 490px;
    background-image: url(../img/header/bg2.png), linear-gradient(to bottom, #090544,#36293c);
}
.header__nav{
    min-height: 190px;
    display: flex;
    justify-content: space-between;
}
.header__logo img{
    width: 220px;
    height: 64px;
    margin: 50px 30px 26px 35px;
}
nav ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-right: 35px;
    overflow: hidden;
}
nav a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.92);
    padding: 26px 28px;
    font-size: 18px;
    text-transform: uppercase;
}
nav span{
    display: inline-block;
    position: relative;
    transition: transform 500ms;
}
nav a span:after{
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left: 0;
    transform: translate3d(0,0,0);
}
nav a:hover span,
nav a:focus span{
    transform: translateY(30px);
}
main{
    min-height: 1676px;
}
.main__content{
    min-height: 1090px;
    margin-top: 60px;
    display: grid;
}
.main__content__menu{
    display: inline-flex;
    min-height: 277px;
    max-width: 100%;
}
.main__content__menu__button{
    margin: 0;
    padding: 0;
    height: 100%;
    width: calc(100%/4);
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    transition: 250ms;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-bottom: none;
}
.main__content__menu__button:hover{
    /*box-shadow: 0px -1px 1px 0px #0000006b;*/
    background-color: rgba(218, 218, 218, 0.22);
}
.main__content__menu__button:active{
    background-color: rgba(156, 156, 156, 0.66);
}
.main__content__menu__button-img1{
    width: 100%;
    height: 200px;
    background: url(../img/content/Shape_10.png) center no-repeat, url(../img/content/Layer_35.png) center no-repeat;
}
.main__content__menu__button-img2{
    width: 100%;
    height: 200px;
    background: url(../img/content/Shape_12.png) center no-repeat, url(../img/content/Layer_35_copy.png) center no-repeat;
}
.main__content__menu__button-img3{
    width: 100%;
    height: 200px;
    background: url(../img/content/Shape_11.png) center no-repeat, url(../img/content/Layer_35_copy_2.png) center no-repeat;
}
.main__content__menu__button-img4{
    width: 100%;
    height: 200px;
    background: url(../img/content/Shape_13.png) center no-repeat, url(../img/content/Layer_35_copy_4.png) center no-repeat;
}
.main__content__menu__button h3{
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    color: rgb(138, 134, 134);
}

.main__content__menu__button h4{
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    color: rgb(138, 134, 134);
}
.main__content__info{
    width: 100%;
    min-height: 730px;
    padding-top: 60px;
    border: 1px solid #80808085;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    transition: 200ms;
    display: none;
}
.main__content__info-wrrp{
    position: relative;
    min-height: 700px;
    max-width: 100%;
}
.active{
    opacity: 1;
    position: relative;
    display: block;
}
.active_butm{
    border: 1px solid #80808085;
    box-shadow: 0 2px 0 0 #ffffff;
    border-bottom: none;
    z-index: 1;
}
.main__content__info-img{
    width: 100%;
    max-height: 420px;
    display: flex;
    overflow: hidden;
}
.main__content__info-img img{
    margin: auto;
}
.main__content__info-text{
    width: 90%;
    max-height: 100%;
    margin-top: 40px;
    margin-left: 54px;
}
.main__content__info-text h1{
    font-size: 39px;
    font-weight: 300;
    color: #4f4f4f;
}
.main__content__info-text p{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #818181;
    max-width: 900px;
}
.main__content__about{
    max-width: 100%;
    min-height: 434px;
    display: flex;
    box-shadow: 0 1px 0 0 #80808085;
}
.main__content__about-img{
    margin: auto;
    max-width: 100%;
    transition: 200ms;
}
.main__content__about-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.main__content__about ul{
    margin: auto;
    list-style-image: url(../img/about/Shape_15.png);
}
.main__content__about li{
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
    color: #8a8888;
    max-width: 512px;
}
.main__content__about li:first-child{
    list-style-image: none;
    list-style-type: none;
    color: #4f4f4f;
    font-size: 33px;
    font-weight: 300;
    line-height: 50px;
}
.main__content__log{
    max-width: 100%;
    min-height: 167px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form_log {
    width: 470px;
    height: 110px;
    margin: auto;
    background: #e67624;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);
}
.form_log input[type=text],
.form_log input[type=password] {
    width: 155px;
    height: 26px;
    padding: 0;
    border: none;
    background: #e8e8e8;
    box-shadow:
            inset 0 0 10px rgba(255,255,255,0.5);
    text-indent: 10px;
    font-size: 16px;
}
.form_log input[type=text]{
    margin: 0 15px 0 30px;
}
.form_mail input[type=email]{
    margin: 0 15px 0 30px;
}
.form_log p{
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    color: #ffffff;
    margin: 15px 0 15px 30px;
}
.form_mail p{
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    color: #ffffff;
    margin: 15px 0 15px 30px;
}
.form_log button,
.form_mail button{
    width: 94px;
    height: 33px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #444444;
    border: none;
    margin-left: 7px;
}
.form_log span,
.form_mail span{
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    transition: all 0.2s linear;
}
.form_log button:hover span,
.form_log button:focus span,
.form_mail button:hover span,
.form_mail button:focus span{
    opacity: 0;
    transform: translateY(-30px);
}
.form_log button:active span,
.form_mail button:active span{
    opacity: 0;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.but_shake:hover,
.but_shake:focus {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.form_mail {
    width: 470px;
    height: 110px;
    margin: auto;
    background: #01d4f3;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);
}
.form_mail input[type=email]{
    width: 265px;
    height: 26px;
    padding: 0;
    border: none;
    background: #e8e8e8;
    box-shadow:
            inset 0 0 10px rgba(255,255,255,0.5);
    text-indent: 10px;
    font-size: 16px;
}
footer{
    min-height: 240px;
    background-color: #262c2d;
}
.footer__content{
    min-height: 240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer__content ul{
    list-style-type: none;
    padding: 0;
    margin: 30px auto 20px;
}
.footer__content a{
    text-decoration: none;
    padding: 10px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}
.footer__content ul li:first-child a{
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    opacity: 1;
}
.footer__content__text{
    max-width: 316px;
    margin: 30px auto 20px;
}
.footer__content__text h4{
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.footer__content__text p{
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    padding: 6px 0;
    margin: 0;
}
.footer__content__text span{
    opacity: 0.66;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}
.footer__content__logo {
    max-width: 222px;
    margin: 30px auto 20px;
}
.footer__content__logo p{
    opacity: 0.8;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.footer__content__logo img{
    opacity: 0.22;
}
.menu__icon {
    display: block;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu {
    display: none;
}

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
    height: 208px;
    opacity: 1;
    visibility: visible;
}
#go-top {
    position: fixed;
    bottom: 25px;
    right: 85px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    background: rgba(192, 192, 192, 0.79);
    border-radius: 8px;
}
#go-top:hover {
    background: -webkit-linear-gradient(30deg, #b9b9b9, #636363);
    background: -o-linear-gradient(30deg, #b9b9b9, #636363);
    background: linear-gradient(60deg, #b9b9b9, #636363);
}
#go-top:active{
    background: -webkit-linear-gradient(30deg, #b9b9b9, #ffffff);
    background: -o-linear-gradient(30deg, #b9b9b9, #ffffff);
    background: linear-gradient(60deg, #b9b9b9, #ffffff);
}
#go-top:before{
    content: '\f106';
    font-family: FontAwesome;
    font-size: 57px;
    position: relative;
    top: -6px;
    right: -6px;
    color: #ffffff;
}
@media screen and (max-width: 991px) {
    .header__logo img {
        max-width: 140px;
        margin: 30px;
        height: auto;
    }
   /* .main__content__info-wrrp {
        min-height: 865px;
    }*/
    .form_log {
        margin: 10px auto;
    }
    .form_mail{
        margin: 10px auto;
    }
    .main__content__about li {
        font-size: 13px;
    }
}
@media screen and (max-width: 830px){
    .main__content__menu__button-img1,
    .main__content__menu__button-img2,
    .main__content__menu__button-img3,
    .main__content__menu__button-img4{
        height: 100px;
        background-size: 35px, 76px;
    }
    .main__content__menu {
        min-height: 186px;
    }
    .main__content__info-text {
        margin-left: 18px;
        width: 96%;
    }
    /*.main__content__info-wrrp {
        min-height: 885px;
    }*/
    .footer__content__logo {
        max-width: 119px;
    }
    #go-top {
        right: 23px;
    }
    .main__content__about {
        flex-wrap: wrap-reverse;
    }
}
@media screen and (max-width: 701px) {
    .slider__item img {
        max-height: 180px !important;
    }
    .slider__item__text>h1 {
        font-size: 32px !important;
    }
    .slider__item__text>p {
        font-size: 22px !important;
    }
    .slider {
        height: 240px !important;
    }
    .slider__control::before {
        top: 65px !important;
    }
    .header__nav {
        min-height: 130px;
    }
    .slider__wrrp {
        min-height: 236px !important;
    }
    .header__bg {
        min-height: 375px;
    }
    header {
        height: 316px;
    }
    .header__nav>nav>ul{
        display: none;
    }
    .menu__icon{
        display: inline-block;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 1000;
    }
    .menu{
        display: block;
    }
    .menu__links {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 52px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: 200ms;
    }

    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
    .main__content__info-img img {
        max-width: 50%;
    }
    .main__content__menu__button-img1,
    .main__content__menu__button-img2,
    .main__content__menu__button-img3,
    .main__content__menu__button-img4{
        height: 48px;
        background-size: 15px, 42px;
    }
    .main__content__menu__button h3 {
        font-size: 14px;
    }
    .main__content__menu__button h4 {
        margin-top: 0px;
        font-size: 13px;
    }
    .main__content__menu {
        min-height: 30px;
    }
    .header__logo img {
        width: 120px;
        margin: 5px;
    }
    .main__content__info-img {
        max-height: 225px;
    }
    .main__content__info {
        padding-top: 40px;
    }
    .form_log{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 340px;
        height: 172px;
    }
    .form_log p {
        margin: 15px auto 15px 30px;
        width: 300px;
    }
    .form_log input{
        margin: 0 15px 0 30px;
    }
    .form_mail{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 340px;
        height: 190px;
    }
    .form_mail button{
        margin-left: 30px;
        margin-top: 5px;
    }
}
