.footer__content{
    min-height: 240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer__content ul{
    list-style-type: none;
    padding: 0;
    margin: 30px auto 20px;
}
.footer__content a{
    text-decoration: none;
    padding: 10px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}
.footer__content ul li:first-child a{
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    opacity: 1;
}
.footer__content__text{
    max-width: 316px;
    margin: 30px auto 20px;
}
.footer__content__text h4{
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.footer__content__text p{
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    padding: 6px 0;
    margin: 0;
}
.footer__content__text span{
    opacity: 0.66;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}
.footer__content__logo {
    max-width: 222px;
    margin: 30px auto 20px;
}
.footer__content__logo p{
    opacity: 0.8;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.footer__content__logo img{
    opacity: 0.22;
}