.main__content__about{
    max-width: 100%;
    min-height: 434px;
    display: flex;
    box-shadow: 0 1px 0 0 #80808085;
}
.main__content__about-img{
    margin: auto;
    max-width: 100%;
    transition: 200ms;
}
.main__content__about-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.main__content__about ul{
    margin: auto;
    list-style-image: url(../img/about/Shape_15.png);
}
.main__content__about li{
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
    color: #8a8888;
    max-width: 512px;
}
.main__content__about li:first-child{
    list-style-image: none;
    list-style-type: none;
    color: #4f4f4f;
    font-size: 33px;
    font-weight: 300;
    line-height: 50px;
}